---
# This playbook does following:
#   enables Percona testing repository
#   installs latest version of PS 8.4, PT and PXB 8.4
#   does some tests

# Cosmic is still missing python
# import_playbook: test_prep.yml

- hosts: all
  become: true
  become_method: sudo
  environment:
    PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"
  vars:
    gnupg_home: /root/.gnupg
    percona_key1: 4D1BB29D63D98E422B2113B19334A25F8507EFA5
    percona_key1_file: "{{ gnupg_home }}/PERCONA-PACKAGING-KEY"
  tasks:
    - set_fact:
        WORKSPACE: "{{ lookup('env', 'WORKSPACE', default='/mnt/jenkins/workspace/pt-unit-tests-molecule/') }}"
    - set_fact:
        PERCONA_TOOLKIT_BRANCH: "{{ WORKSPACE }}/percona-toolkit"
        TMP_DIR: "{{ WORKSPACE }}/tmp"
        TESTING_BRANCH: "{{ lookup('env', 'TESTING_BRANCH', default='3.x') }}"
        MYSQL_VERSION: "{{ lookup('env', 'MYSQL_VERSION', default='8.4') }}"
        MYSQL_MINOR: "{{ lookup('env', 'MYSQL_MINOR') }}"
        GLIBC: "{{ lookup('env', 'GLIBC') }}"
        PERCONA_TOOLKIT_SANDBOX_DIR: "{{ WORKSPACE }}/sandbox"
        SSL_PATH: "{{ WORKSPACE }}/sandbox/ssl"
    - set_fact:
        MYSQL_BASEDIR: "Percona-Server-{{ MYSQL_MINOR }}-Linux.x86_64.glibc{{ GLIBC }}"
    - set_fact:
        PERCONA_TOOLKIT_SANDBOX: "{{ PERCONA_TOOLKIT_SANDBOX_DIR }}/{{ MYSQL_BASEDIR }}"
    - set_fact:
        LOG_FILE: "{{ TMP_DIR }}/{{ TESTING_BRANCH }}-{{ MYSQL_VERSION }}.log"
        DOWNLOAD_URL: "https://downloads.percona.com/downloads/Percona-Server-{{ MYSQL_VERSION }}/Percona-Server-{{ MYSQL_MINOR }}/binary/tarball/"
        PATH: "/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/ec2-user/.local/bin:{{ PERCONA_TOOLKIT_SANDBOX }}/bin"
        LD_LIBRARY_PATH: "/usr/lib64:/usr/lib/x86_64-linux-gnu:{{ SSL_PATH }}/lib:{{ lookup('env', 'LD_LIBRARY_PATH', default='') }}"
        TEST_CMD: "{{ lookup('env', 'TEST_CMD', default='prove -vr --trap --timer t') }}"
        APP: "{{ lookup('env', 'APP', default='mysql') }}"
        PTDEBUG: "{{ lookup('env', 'PTDEBUG', default='0') }}"
        PTDEVDEBUG: "{{ lookup('env', 'PTDEVDEBUG', default='0') }}"

    - name: Fix Debian Buster EOL repositories
      shell: sed -i 's|http://deb.debian.org/debian|http://archive.debian.org/debian|g; s|http://cdn-aws.deb.debian.org/debian|http://archive.debian.org/debian|g; s|http://security.debian.org/debian-security|http://archive.debian.org/debian-security|g; /buster-updates/d' /etc/apt/sources.list
      become: yes
      when: ansible_os_family == "Debian" and ansible_distribution_release == "buster"

    - name: Fix Debian Bullseye EOL repositories
      shell: sed -i 's|http://cdn-aws.deb.debian.org/debian|http://archive.debian.org/debian|g; /bullseye-updates/d' /etc/apt/sources.list
      become: yes
      when: ansible_os_family == "Debian" and ansible_distribution_release == "bullseye"

    - name: Update locale
      shell: |
        sed -i -e 's/# en_US.UTF-8 UTF-8/en_US.UTF-8 UTF-8/g' /etc/locale.gen
        locale-gen
      become: yes
      when: ansible_os_family == "Debian"

    - name: Download Percona release package
      ansible.builtin.get_url:
        url: https://repo.percona.com/apt/percona-release_latest.generic_all.deb
        dest: /tmp/percona-release_latest.generic_all.deb

    - name: Install required dependencies
      ansible.builtin.apt:
        name:
          - gnupg2
          - lsb-release
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install required dependencies
      yum:
        name: "{{ packages }}"
        state: present
        update_cache: yes
      vars:
        packages:
          - gnupg2
      when: ansible_os_family == "RedHat"

    - name: Install Percona release package on Debian
      ansible.builtin.command:
        cmd: dpkg -i /tmp/percona-release_latest.generic_all.deb
        creates: /etc/apt/sources.list.d/percona-release.list
      when: ansible_os_family == "Debian"

    - name: Receive GPG key 1
      command: "gpg --batch --keyserver keyserver.ubuntu.com --recv-keys {{ percona_key1 }}"
      environment:
        GNUPGHOME: "{{ gnupg_home }}"
      when: ansible_os_family == "RedHat"

    - name: Export GPG key 1
      command: "gpg --batch --export --armor {{ percona_key1 }}"
      register: gpg_key1
      environment:
        GNUPGHOME: "{{ gnupg_home }}"
      when: ansible_os_family == "RedHat"

    - name: Save GPG key 1 to file
      copy:
        content: "{{ gpg_key1.stdout }}"
        dest: "{{ percona_key1_file }}"
        mode: '0644'
      when: ansible_os_family == "RedHat"

    - name: Import GPG keys with rpmkeys
      command: "rpmkeys --import {{ percona_key1_file }}"
      when: ansible_os_family == "RedHat"

    - name: Install Percona release package on OEL
      yum: name=https://repo.percona.com/yum/percona-release-latest.noarch.rpm
      when: ansible_os_family == "RedHat"

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Update yum cache
      shell: |
        yum clean all
        yum makecache
      when: ansible_os_family == "RedHat"

    - name: Print OS info
      shell: |
        uname -a
        cat /etc/os-release
        echo $(grep VERSION_ID= /etc/os-release | awk -F'"' '{print $2}' | awk -F'.' '{print $1}')
      become: yes
      register: os_info

    - debug: msg="{{ os_info.stdout }}"

    - name: Setup Percona pdps-8.4
      ansible.builtin.command: percona-release enable pdps-84-lts

    - name: Upgrade Perl package on Debian
      ansible.builtin.apt:
        name: perl
        state: latest
      when: ansible_os_family == "Debian"

    - name: Upgrade Perl package on OEL
      yum:
        name: "{{ packages }}"
        state: latest
        update_cache: yes
      vars:
        packages:
          - perl
      when: ansible_os_family == "RedHat"

    - name: Install required dependencies for tests on Debian
      ansible.builtin.apt:
        name:
          - git
          - jq
          - libnuma1
          - strace
          - libncurses6
          - gawk
          - lsof
          - make
          - gcc
          - libssl-dev
          - libcrypt-dev
          - libfile-slurp-perl
          - libjson-perl
          - libnetaddr-ip-perl
          - libtext-diff-perl
          - libio-socket-ssl-perl
          - libipc-run-perl
          - libdbi-perl
          - libdbd-mysql-perl
          - libtest-simple-perl
          - percona-server-server
          - percona-server-client
          - libperconaserverclient21-dev # Debian
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: disable the mysql module on RHEL/CentOS 8
      command: /usr/bin/dnf module disable mysql -y
      when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "8"

    - name: Install required dependencies for tests on OEL
      yum:
        name: "{{ packages }}"
        state: present
        update_cache: yes
      vars:
        packages:
          - krb5-libs
          - git
          - jq
          - tar
          - libaio
          - strace
          - perl-Time-HiRes
          - perl-Test-Harness
          - perl-Test-Simple
          - perl-Digest-MD5
          - perl-File-Slurp
          - perl-JSON
          - perl-NetAddr-IP
          - perl-Text-Diff
          - perl-IPC-Cmd
          - perl-IO-Socket-SSL
          - perl-DBI
          - cpan
          - gcc
          - percona-server-server
          - percona-server-client
          - percona-server-devel
          - perl-DBD-MySQL
      when: ansible_os_family == "RedHat"


#    - name: Install SSL
    # We need various SSL versions for testing
    # We will have "no version information available" spam messages in the beginning of the tests
    # This message is harmless and can be ignored
#      shell: |
#        mkdir -p "{{ PERCONA_TOOLKIT_SANDBOX_DIR }}"
#        cd "{{ PERCONA_TOOLKIT_SANDBOX_DIR }}"
#        curl -L https://github.com/openssl/openssl/releases/download/OpenSSL_1_1_1w/openssl-1.1.1w.tar.gz --output openssl-1.1.1w.tar.gz
#        tar -xzf openssl-1.1.1w.tar.gz
#        cd openssl-1.1.1w
#        ./config --prefix="{{ SSL_PATH }}" shared
#        make
#        make install
#        cd ..
#        curl -L https://github.com/openssl/openssl/releases/download/OpenSSL_1_0_2u/openssl-1.0.2u.tar.gz --output openssl-1.0.2u.tar.gz
#        tar -xzf openssl-1.0.2u.tar.gz
#        cd openssl-1.0.2u
#        ./config --prefix="{{ SSL_PATH }}" shared
#        make
#        make install
#        cd "{{ SSL_PATH }}/lib"
#        test -e libssl.so.10 && echo 1 || ln -s libssl.so.1.0.0 libssl.so.10
#        test -e libcrypto.so.10 && echo 1 || ln -s libcrypto.so.1.0.0 libcrypto.so.10
#      become: yes

    - name: Print all available facts
      ansible.builtin.debug:
        var: ansible_facts

    - name: Print the variables
      ansible.builtin.debug:
        msg:
          - "PERCONA_TOOLKIT_BRANCH: {{ PERCONA_TOOLKIT_BRANCH }}"
          - "TMP_DIR: {{ TMP_DIR }}"
          - "LOG_FILE: {{ LOG_FILE }}"
          #- "MYSQL_BASEDIR: {{ MYSQL_BASEDIR }}"
          #- "PERCONA_TOOLKIT_SANDBOX: {{ PERCONA_TOOLKIT_SANDBOX }}"
          - "DOWNLOAD_URL: {{ DOWNLOAD_URL }}"
          - "PATH: {{ PATH }}"
          - "SSL_PATH: {{ SSL_PATH }}"
          - "LD_LIBRARY_PATH: {{ LD_LIBRARY_PATH }}"
          - "GLIBC": "{{ GLIBC }}"

    - name: Clone Percona Toolkit repository
      git:
        repo: https://github.com/percona/percona-toolkit.git
        version: "{{ TESTING_BRANCH | default('3.x') }}"
        dest: "{{ PERCONA_TOOLKIT_BRANCH }}"
      environment:
        PERCONA_TOOLKIT_BRANCH: "{{ PERCONA_TOOLKIT_BRANCH }}"

    - name: Prepare sandbox
      shell: |
        echo "{{ PERCONA_TOOLKIT_SANDBOX_DIR }}"
        mkdir "{{ PERCONA_TOOLKIT_SANDBOX_DIR }}"
        cd "{{ PERCONA_TOOLKIT_SANDBOX_DIR }}"
        curl "{{ DOWNLOAD_URL }}/{{ MYSQL_BASEDIR }}.tar.gz" --output "{{ MYSQL_BASEDIR }}.tar.gz"
        tar -xzf "{{ MYSQL_BASEDIR }}.tar.gz"
        cd "{{ MYSQL_BASEDIR }}"
        ./bin/mysqld --version
      environment:
        PERCONA_TOOLKIT_SANDBOX_DIR: "{{ PERCONA_TOOLKIT_SANDBOX_DIR }}"
      become: yes
      register: prepare_sandbox

    - debug: msg="{{ prepare_sandbox.stdout }}"

    - name: Start sandbox
      shell: |
        cd "{{ PERCONA_TOOLKIT_SANDBOX }}"
        ./bin/mysqld --version
        cd "{{ PERCONA_TOOLKIT_BRANCH }}"
        ./util/check-dev-env
        ./sandbox/test-env checkconfig
        ./sandbox/test-env stop
        ./sandbox/test-env kill
        ./sandbox/test-env start
      environment:
        PERCONA_TOOLKIT_BRANCH: "{{ PERCONA_TOOLKIT_BRANCH }}"
        PERCONA_TOOLKIT_SANDBOX: "{{ PERCONA_TOOLKIT_SANDBOX }}"
        PERCONA_TOOLKIT_SANDBOX_DIR: "{{ PERCONA_TOOLKIT_SANDBOX_DIR }}"
        LD_LIBRARY_PATH: "{{ LD_LIBRARY_PATH }}"
        WORKSPACE: "{{ WORKSPACE }}"
      become: yes
      register: start_sandbox

    # - debug: msg="{{ start_sandbox.stdout }}"

    - name: Run tests
      command:
        chdir: "{{ PERCONA_TOOLKIT_BRANCH }}"
        cmd: "{{ TEST_CMD }}"
      environment:
        PERCONA_TOOLKIT_BRANCH: "{{ PERCONA_TOOLKIT_BRANCH }}"
        PERCONA_TOOLKIT_SANDBOX: "{{ PERCONA_TOOLKIT_SANDBOX }}"
        LD_LIBRARY_PATH: "{{ LD_LIBRARY_PATH }}"
        MYSQL_VERSION: "{{ MYSQL_VERSION }}"
      register: run_tests

    # - debug: msg="{{ run_tests.stdout }}"

    # - debug: msg="{{ run_tests.stderr }}"

    - name: Stop sandbox
      shell: |
        cd {{ PERCONA_TOOLKIT_BRANCH}}
        ./sandbox/test-env stop
      environment:
        PERCONA_TOOLKIT_BRANCH: "{{ PERCONA_TOOLKIT_BRANCH }}"
        PERCONA_TOOLKIT_SANDBOX: "{{ PERCONA_TOOLKIT_SANDBOX }}"
        LD_LIBRARY_PATH: "{{ LD_LIBRARY_PATH }}"
      become: yes